/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #11111BEE;
    background-alt: #181825E0;
    foreground:     #CDD6F4FF;
    selected:       #89B4FAFF;
    active:         #A6E3A1FF;
    urgent:         #F38BA8FF;
}
