 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #13242E;
active-foreground: #ACDEDE;
normal-background: #1F2224;
normal-foreground: #ACDEDE;
urgent-background: #116267;
urgent-foreground: #ACDEDE;

alternate-active-background: #0D7274;
alternate-active-foreground: #ACDEDE;
alternate-normal-background: #1F2224;
alternate-normal-foreground: #ACDEDE;
alternate-urgent-background: #1F2224;
alternate-urgent-foreground: #ACDEDE;

selected-active-background: #13242E;
selected-active-foreground: #ACDEDE;
selected-normal-background: #80C7C8;
selected-normal-foreground: #ACDEDE;
selected-urgent-background: #116267;
background: rgba(0,0,0,0.7);

background-color: #1F2224;
background: rgba(0,0,0,0.7);
foreground: #80C7C8;
border-color: #13242E;
}

