 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #1A1B26;
active-foreground: #DDD5ED;
normal-background: #1C1C1E;
normal-foreground: #DDD5ED;
urgent-background: #5C5179;
urgent-foreground: #DDD5ED;

alternate-active-background: #706092;
alternate-active-foreground: #DDD5ED;
alternate-normal-background: #1C1C1E;
alternate-normal-foreground: #DDD5ED;
alternate-urgent-background: #1C1C1E;
alternate-urgent-foreground: #DDD5ED;

selected-active-background: #1A1B26;
selected-active-foreground: #DDD5ED;
selected-normal-background: #C6BBDD;
selected-normal-foreground: #DDD5ED;
selected-urgent-background: #5C5179;
background: rgba(0,0,0,0.7);

background-color: #1C1C1E;
background: rgba(0,0,0,0.7);
foreground: #C6BBDD;
border-color: #1A1B26;
}

