@import "theme.css";

* {
	/* ignore GTK theme */
	all: initial;
	color: @main-fg;
}

@import "styles/fonts.css";
@import "styles/modules-center.css";
@import "styles/modules-left.css";
@import "styles/modules-right.css";
@import "styles/states.css";

.module {
	margin-bottom: -1px;
}

#waybar {
	background: linear-gradient(180deg, alpha(@nord2, 0.35), alpha(@nord0, 0.65));
}
#waybar > box {
	margin: 5px;
	background-color: @main-bg;
	border: 1px solid @main-br;
	border-radius: 14px;
}

button {
	border-radius: 12px;
	min-width: 16px;
	padding: 0 9px;
}
button:hover {
	background-color: @hover-bg;
	color: @hover-fg;
}

tooltip {
	border: 1px solid @main-br;
	border-radius: 8px;
	background-color: @nord1;
}
tooltip > box {
	padding: 0 6px;
}
