 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #3B6F87;
active-foreground: #FBE9CF;
normal-background: #19191B;
normal-foreground: #FBE9CF;
urgent-background: #9BCDD5;
urgent-foreground: #FBE9CF;

alternate-active-background: #AF8C8B;
alternate-active-foreground: #FBE9CF;
alternate-normal-background: #19191B;
alternate-normal-foreground: #FBE9CF;
alternate-urgent-background: #19191B;
alternate-urgent-foreground: #FBE9CF;

selected-active-background: #3B6F87;
selected-active-foreground: #FBE9CF;
selected-normal-background: #F1D7B3;
selected-normal-foreground: #FBE9CF;
selected-urgent-background: #9BCDD5;
background: rgba(0,0,0,0.7);

background-color: #19191B;
background: rgba(0,0,0,0.7);
foreground: #F1D7B3;
border-color: #3B6F87;
}

