.gsd-keyboard.settings-ported
Arduino IDE/
BraveSoftware/
Code/
CurseForge/
Cursor/
GIMP/
GNOME-xdg-terminals.list
GitHub Desktop/
Google/
JetBrains/
Kvantum/
MQTTX/
QtProject.conf
QtProject/
Thunar/
Unknown Organization/
VSCodium - Insiders/
VSCodium/
YouTube Music/
_backups/
abiword/
ags/
alacritty/
arduino-ide/
astro/
autostart/
beekeeper-studio/
btop/
cava/
chromium/
clangd/
clerk/
configstore/
create-next-app-nodejs/
cursor/
dconf/
discord/
dleyna-server-service.conf
enchant/
eog/
evolution/
fontconfig/
gcloud/
gh-copilot/
gh/
github-copilot/
gnome-boxes/
gnome-initial-setup-done
go/
google-chrome/
gopls/
gsconnect/
gtk-3.0/
gtk-4.0/
htop/
hyde/
hypr-backup-back-up_1004_1804/
hypr.broken/
hypr/pyprland.toml
ibus/
io.hoppscotch.desktop/
io.testfully.app/
kitty-backup-back-up_1004_1804/
kitty/
kritadisplayrc
kritarc
lazygit/
libreoffice/
libvirt/
menus/
microsoft-edge-beta/
microsoft-edge-dev/
microsoft-edge/
mimeapps.list
monitors.xml
monitors.xml~
neofetch/
net.imput.helium/
nextjs-nodejs/
nushell/
nvim.bak/
nvtop/
nwg-look/
obs-studio/
onlyoffice/
opencode/
orchestrate/
org.gnome.Ptyxis/
paperwm/
pavucontrol.ini
pulse/
qalculate/
qt5ct/
qt6ct/
rofi.bak/
simple-update-notifier/
sqlitebrowser/
swappy/
swaync.bak/
swaync/
totem/
turborepo/
user-dirs.dirs
user-dirs.locale
vlc/
waybar-bkp/
wlogout.bak/
xdg-terminals.list
xfce4/
yelp/
zed/

